* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5fff9;
    box-shadow: inset 0px 0px 43px -6px rgba(112, 156, 178, 1);
    margin-right: 16px;
}

#containerHeader {
    height: 100pt;
    padding-top: 30pt;
}

#titleHeader {
    border: 2px rgb(112, 156, 178) solid;
    border-radius: 4px;
    background: #f5fff9;
    color: rgb(112, 156, 178);
    text-align: center;
}

#logout {
    border: 2px rgb(112, 156, 178) solid;
    font-style: italic;
    color: rgb(112, 156, 178);
}

#logout:hover {
    border: 2px rgb(112, 156, 178) solid;
    /*font-style: italic;*/
    font-family:'Lobster',cursive;;
    color: #f5fff9;
    background: rgb(112, 156, 178);
    text-decoration: none;
}

a {
    text-decoration: none;
}
