body {
    height: 100%;
    /*margin-right: -16px;*/
}

#divNav {
    position: absolute;
    left: 22px;
    top: 166px;
}

#home, #disciplinesList {
    color: rgb(112, 156, 178);
    margin-right: 10px;
    text-decoration: none;
}

#container {
    padding: 0 218px;
    /*height: 100%;*/
}

#containerForm {
    border: 1px solid #6c757d;
    border-radius: 5px;
    color: #6c757d;
    margin: 30px 5px;
    padding: 15px 0;
    box-shadow: 0px 0px 12px 2px #6c757d;
}

#titleForm {
    padding-left: 36px;
    font-size: 1.1rem;
}

#divButton {
    padding-left: 130px;
}

.form-group.row {
    padding-left: 21px;
}

label.col-sm-2, .form-control {
    font-size: 0.9rem;
    line-height: 0.8;
}
