#container {
    padding: 0 228px;
}

#navHeader {
    text-align: center;
    padding-top: 30px;
    /*padding: 30px 202px 0 227px;*/
    /*margin-right: 10px;*/
}

#navHeader a {
    color: rgb(112, 156, 178);
    text-decoration: none;
}


