#container {
    padding: 0 228px;

    font-family:Lobster,cursive;
    letter-spacing: 1px;



}

#navHeader {
    text-align: center;
    /*
    font-family:Lobster,cursive;
    */

    padding-top: 30px;
    /*padding: 30px 202px 0 227px;*/
    /*margin-right: 10px;*/
}

#navHeader a {
    color: rgb(112, 156, 178);
    text-decoration: none;
}


/******************* HEADER ******************/
* {
    padding: 0;
    margin: 0;
}

body {
    /*background-color: #f5fff9;*/
    /*background: linear-gradient(#BEEDFF, white);*/
    background: linear-gradient(rgb(70, 175, 216), white);
    /*
    box-shadow: inset 0 0 43px -6px rgba(112, 156, 178, 1);
    */
}

/*#containerHeader {
    height: 100pt;
    padding-top: 30pt;
}

#titleHeader {
    !*color: rgb(112, 156, 178);*!
    color:#6C757d;
    text-align: center;
}*/

/*#innerHeader {
    border: 2px rgb(112, 156, 178) solid;
    border-radius: 4px;
}*/

/*#logout {
    border: 2px rgb(112, 156, 178) solid;
    font-style: italic;
    color: rgb(112, 156, 178);
}

#logout:hover {
    border: 2px rgb(112, 156, 178) solid;
    font-style: italic;
    color: #f5fff9;
    background: rgb(112, 156, 178);
    text-decoration: none;
}*/

#divNav {
    font-family: Lobster, cursive;
    position: relative;
    left: 50px;
    top: -97px;
}

#home, #studentsList {
    margin-right: 10px;
}

/******************* disciplinesList ******************/
#titleDisciplinesList {
    text-align: center;
    padding-top: 30px;
}

.divDisciplineList a {
    font-size: .8rem;
}

.divDisciplineList {
    padding-bottom: 15px;
}

.iconCheck {
    width: 23px;
}

.countList th:nth-child(-n + 2), .countList td:nth-of-type(1) {
    text-align: center;
}

div.custom-checkbox {
    padding-left: 2rem;
}
#h5TitleDisciplinesList {
    color: #6c757d;
    padding-left: 15px;
    margin-top: -6px;
}

#tdEmptyDisciplineList {
    text-align: center;
    column-span: all;
}

/******************* disciplineCreating ******************/
#containerForm {
    border: 1px solid #6c757d;
    border-radius: 5px;
    color: #6c757d;
    margin: 30px 0;
    padding: 15px 0;
    box-shadow: 0 0 12px 2px #6c757d;
}

#titleForm {
    /*padding-left: 0px;*/
    font-size: 1.1rem;
}

#success {
    color: forestgreen;
}

.form-group.row {
    padding-left: 21px;
}

label.col-sm-2, .form-control {
    font-size: 0.9rem;
    line-height: 0.8;
}

/******************* disciplineModifying ******************/
#home:hover, #disciplinesList:hover {
    color: white;
}

.form-group.row {
    padding-left: 21px;
}

label.col-sm-2, .form-control {
    font-size: 0.9rem;
    line-height: 0.8;
}

/******************* studentsList ******************/
#divStudentsList1, #divStudentsList2 {
    padding-top: 30px;
}

#divStudentsList1 a:hover, #divStudentsList2 a:hover {
    color: white;
}

#sectionTable {
    padding-top: 30px;
}

#tdSuccess {
    text-align: center;
    column-span: 6;
}

/******************* studentProgress ******************/
#titleStudentProgress {
    padding-top: 30px;
}

#table1, #table, h5, h6 {
    color: #6c757d;
}

#titleSectionStudentProgress {
    color: #6c757d;
    padding-left: 15px;
    margin-top: -6px;
}

#divSelectTermsStudentProgress {
    padding-right: 15px;
    padding-bottom: 15px;
}

.select {
    background: #f5fff9;
    color: #6c757d;
    border-color: #6c757d;
}

.select:hover {
    background: #6c757d;
    color: #000000;
}

.tdTable {
    text-align: center;
}

/******************* studentModifying ******************/
#divBtnStudentModifying {
    padding-left: 121px;
}

.form-group.row {
    padding: 0 0px;
    /*padding: 0 0px;*/
}

/******************* termsList ******************/
#titleTermsList {
    padding-top: 30px;
}

div.form {
    width: 500pt;
}

.titleSectionBody {
    padding-top: 30px;
}

#divTermsList1 a:hover, #divTermsList2 a:hover, #divTermsList3 a:hover {
    color: white;
}

div.divTermsList {
    padding-bottom: 15px;
}

#divDurationTerm {
    padding: 15px 0;
}

.divTermsList a {
    font-size: .8rem;
}

/******************* termCreatingAndModifying ******************/
#input {
    width: 80px;
}
#formControlSelect {
    /*background: #f5fff9;*/
    background: #BEEDFF;
    color: #6c757d;
    border-color: black;
    padding: 5px 0 5px 5px;
}


#divFormSelect {
    width: 630px;
    margin: 0;
    padding: 0 0 20px 7px;
}

.lblForm {
    padding-top: 0;
}

form {
    width: 725px;
}

option:hover {
    color: #4e5254;
}

option:nth-child(2n-1) {
    background: #e7f4f3;
}
/******************* Table ******************/
.table-bordered td{
    border: 1px solid #7d8185;

}
.table-bordered th {

    border: 1px solid #7d8185;
    color: black;
}

/***************TableNewStyle whith annamation */
#table1, #table {
    color: #6c757d;
    background: ghostwhite;
    position: relative;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

    position: relative;}

#containerForm {
    width: fit-content;
    border: 1px solid #6c757d;
    border-radius: 5px;
    color: #6c757d;
    margin: auto;
    padding: 25px;
    box-shadow: 0 0 12px 2px #6c757d;
    position: relative;
    top: 100px;
}
.rowCreateStudent{
    padding: 25px;
}

#ivInput{
    left: -8%;
    top: 6px;
}
.col-sm-2logout{
    left: 90%;
    top: -35px;
}

