body {
    margin-right: -8px;
}

#divNav {
    position: absolute;
    left: 22px;
    top: 166px;
}

#home, #studentsList {
    color: rgb(112, 156, 178);
    margin-right: 10px;
    text-decoration: none;
}

#container {
    padding: 0 228px;
}

#titleTermsList {
    /*text-align: center;*/
    padding-top: 30px;
}

div.form {
    width: 500pt;
}

/*#divFormTitle {
   padding-left: 16px;
}*/

#select {
    background: #f5fff9;
    color: #6c757d;

    border-color: black;
}

#select:hover {
    background: #6c757d;
    color: #ffffff;
    border-color: black;
}

#table, h5, h6 {
    color: #6c757d;
}

#divTermsList1 a, #divTermsList2 a, #divTermsList3 a {
    color: rgb(112, 156, 178);
    text-decoration: none;
}

#titleTermsList h5 {
    color: #6c757d;
    padding-left: 15px;
    margin-top: -6px;
}

div.divTermsList {
    padding-bottom: 15px;
    text-decoration: none;
}
#divDurationTerm {
    padding: 15px 0;
}
#button1, #button2, #button3 {
    font-size: .8rem;
}